<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstonebangkit.skin_diagnosis_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skin_Diagnosis_App">
        <activity
            android:name=".ui.ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ui.welcome.WelcomeUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DashboardUI.Description.DescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DashboardUI.Upload.UploadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DashboardUI.Panduan.PanduanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DashboardUI.Camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BottomNavigation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>